#comics-table {
	width: 100%;
}
#comics-table tr:nth-child(2n+1) {
	background: #e2e2e2;
}
#comics-table tr:hover {
	background: #e2dc9c;
}
#comics-table tr .button {
	visibility: hidden;
	float: right;
	padding: 0 10px 0 0;
	margin: 0;
}
#comics-table tr:hover .button {
	visibility: visible;
}
#comics-table tr .button img {
	float: left;
}
#comics-table tr .button span {
	display: inline-block;
	margin-top: 9px;
}
#comics-table th, #comics-table td {
	padding: 5px;
}
#comics-table th {
	background: #ccc;
	font-weight: bold;
	text-align: left;
}
#comics-table td {
	vertical-align: middle;
}
