body {
	background: #000;
}
#header {
	margin-top: 50px;
}
#footer {
	margin-top: 20px;
	text-align: center;
}
#site-name {
	font-size: 28px;
	font-family: "Georgia", "Times New Roman", serif;
	float: left;
	color: #ccc;
}
#navigation {
	padding: 5px 0 0 20px;
	float: left;
}
#navigation li {
	display: inline;
	padding-right: 10px;
}
#navigation a {
	text-transform: uppercase;
	text-decoration: none;
	color: #aaa;
}
#image-container {
	border: 1px solid #333;
	background: #222;
	padding: 30px;
	border-radius: 10px;
}
#comic-title {
	text-align: center;
	color: #aaa;
}
#comic-image {
	margin: 0 auto;
	display: block;
}

.comic-nav {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 210px;
}
.comic-nav .disabled {
	background: #666;
}
.comic-nav-spacer {
	padding-left: 30px;
}

.nav-button {
	display: inline-block;
	padding: 5px;
	height: 32px;
	background: #aaa;
	text-decoration: none;
}
.nav-inner-image {
	width: 32px;
	height: 32px;
}
.nav-inner-image-first { background-image: url(../../images/icon-first.png); }
.nav-inner-image-previous { background-image: url(../../images/icon-previous.png); }
.nav-inner-image-next { background-image: url(../../images/icon-next.png); }
.nav-inner-image-last { background-image: url(../../images/icon-last.png); }
