/**
 * Light Theme for Comic Viewer
 */

html {overflow-y: scroll}
body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
input[type=text], input[type=password] {
	padding: 5px;
	background: #fff;
	border: 1px solid #bbb;
	border-radius: 3px;
}
input[type=text]:focus, input[type=password]:focus {
	border: 1px solid #999;
}
.button, input[type=submit] {
	display: inline-block;
	padding: 3px 10px 3px 10px;
	border-radius: 3px;
	border: none;
	color: #fff;
	background: #0066cc;
}

#header {
	padding-top: 20px;
	background: #222;
	color: #fff;
}
#footer {
	padding: 20px 10px 50px 10px;
	text-align: center;
	background: #222;
	color: #999;
}
#header a, #footer a {
	color: #ccc;
}
.container {
	max-width: 800px;
	margin: 0 auto;
}
.inner-container {
	margin: 30px 0 30px 0;
}
/** Navigation *******************************************************************************************************/

#user-info {
	float: right;
}

#site-name {
	font-size: 28px;
	text-align: center;
}
#site-name, #navigation {
	font-family: "Georgia","Times New Roman",Helvetica,Arial,sans-serif;
}
#navigation {
	padding: 5px 0 5px 5px;
	text-align: center;
}
#navigation li {
	display: block;
	float: left;
	padding-right: 10px;
}
#navigation li:last-child {
	padding-right: 0;
}
#navigation a {
	text-transform: uppercase;
	text-decoration: none;
}

/** Comic ************************************************************************************************************/

#image-container {
	padding: 30px;
	border-radius: 10px;
}
#comic-title {
	text-align: center;
}
#comic-image {
	margin: 0 auto;
	display: block;
}

.comic-nav {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 210px;
}
.comic-nav .disabled {
	background: #555;
}
.comic-nav-spacer {
	padding-left: 30px;
}

.nav-button {
	display: inline-block;
	padding: 5px;
	height: 32px;
	background: #000;
	text-decoration: none;
}
.nav-inner-image {
	width: 32px;
	height: 32px;
}
.nav-inner-image-first { background-image: url(../../images/icon-first-white.png); }
.nav-inner-image-previous { background-image: url(../../images/icon-previous-white.png); }
.nav-inner-image-next { background-image: url(../../images/icon-next-white.png); }
.nav-inner-image-last { background-image: url(../../images/icon-last-white.png); }

/** Authentication ***************************************************************************************************/
.form-login input[type=text],
.form-login input[type=password],
.form-input label {
	margin: 10px 0 10px 0;
	display: block;
}
